.server-page {
    padding: 2vh 5vw;
}

.server-page p {
    margin: 0.2rem 0;
}

.server-option p:first-of-type {
    margin-top: 1rem;
}

.server-option p:last-of-type {
    margin-bottom: 1rem;
}

.console {
    font-family: monospace;
    border: 3px solid #404040;
    margin: 5vh 0;
}

.console-history {
    min-height: calc(120px + 10vh);
    max-height: calc(150px + 20vh);
    overflow-y: scroll;
}

.console-line {
    margin-bottom: 0;
    border-bottom: 0.5px solid #808080;
    padding-left: 5px;
}

.console-line:last-of-type {
    border-bottom: none;
}

.console-line-input {
    color: #3968f1
}

.console-line-error {
    color: #de2727
}

.console-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid #404040;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.console-input-input {
    padding: 3px 10px;
    width: 100%;
}

.console-input-button {
    white-space: nowrap
}