.App {
  position: fixed;
  height: 100%;
  width: 100%;
}

.App-header {
  position: sticky;
  color: white;
  user-select: none;
}

.header-main-bar {
  background: var(--theme-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  padding: 0 0.8em 0 0.8em;
}

.header-main-bar > :first-child {
  margin: auto auto auto 0;
}

.header-main-bar > button {
  margin: 0.5em 0.25em
}

.header-main-bar > :last-child {
  margin-right: 0;
}

.App-header a {
  font-size: xx-large;
  color: inherit;
  text-decoration: inherit;
}

.App-header h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
}

.App-body {
  max-height: 100vh;
  overflow-y: scroll;
}